.container{
    width: 80%;
    margin: auto;
}

#allCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    width: 90%;
    gap:5%;
    margin-top: 5%;
    max-width: auto;
}

#header{
    display: flex;
    justify-content: space-between;
}
a{
    color: maroon;
    font-size: 20px;
}

